<div class="mt-4">
    <h3>My game list</h3>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col" width="40%">Description</th>
      <th scope="col" style="width:40%; height:40%;" colspan="2">Image</th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
    <tr>
      <th scope="row">{{sum @index 1}}</th>
      <td>{{this.name}}</td>
      <td>{{this.des}}</td>
      <td><img src="{{this.image}}" alt=""></td>
      <td>
        <a href="/games/{{this.id}}/edit" class="btn btn-dark">Edit</a>
        <a href="" class="btn btn-info">Delete</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>